/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

#content {
    padding: 50px 0;
    text-align: center;
}

.buttons {
    margin-top: 20px;
    text-align: left; /* Align buttons to the left */
}

.buttons .btn {
    display: block;
    width: 200px; /* Adjust width as needed */
    margin-bottom: 10px; /* Add margin between buttons */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.buttons .btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
